Source: libmatrixio-malos
Section: libs
Replaces: libmatrix-malos
Priority: optional
Maintainer: MATRIX Labs <info@matrix.one>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://github.com/matrix-io/matrix-malos-lib

Package: libmatrixio-malos
Architecture: any
Multi-Arch: same
Conflicts: libmatrix-malos
Replaces: libmatrix-malos
Pre-Depends: ${misc:Pre-Depends}
Depends: ${shlibs:Depends}, ${misc:Depends},libzmq3-dev,libmatrixio-protos,libmatrixio-protos-dev
Description: Libraries of MATRIX abstraction layer for MOS

Package: libmatrixio-malos-dev
Section: libdevel
Conflicts: libmatrix-malos-dev
Replaces: libmatrix-malos-dev
Architecture: any
Depends: libmatrixio-malos  (= ${binary:Version}), libc6-dev | libc-dev, ${misc:Depends}
Description:  Libraries of MATRIX abstraction layer for MOS
